In [41]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn import tree
import xgboost as xg
from joblib import dump, load

In [29]:
df = pd.read_csv('../data/data.csv',sep = ';')

In [30]:
df

,Claim Number,date_of_loss,dayofweek,isweekend,month,season,Notifier,Loss_code,Loss_description,Notification_period,...,TP_region_outerldn,TP_region_scotland,TP_region_southe,TP_region_southw,TP_region_wales,TP_region_westmid,TP_region_yorkshire,sum_TP,Incurred,Capped Incurred
0,1,2003-04-15,2,0,4,2,3,LD003,Head on collision,22,...,0,0,0,0,0,0,0,1,0,0.000000
1,2,2003-04-20,7,1,4,2,0,LD003,Head on collision,1,...,0,0,1,0,0,0,0,1,2801,4074.670583
2,3,2003-04-24,4,0,4,2,0,LD003,Head on collision,5,...,0,0,0,0,0,0,0,1,1220,1775.829235
3,4,2003-05-13,2,0,5,2,0,LD003,Head on collision,1,...,0,0,0,0,0,1,0,1,3529,5134.404835
4,5,2003-06-11,3,0,6,1,0,LD003,Head on collision,1,...,0,0,0,0,0,0,0,0,3155,4590.573794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7686,7687,2015-06-30,2,0,6,1,2,LD003,Head on collision,1,...,0,0,0,0,0,0,0,1,702,1022.285569
7687,7688,2015-06-30,2,0,6,1,2,LD003,Head on collision,0,...,0,0,0,0,0,0,2,2,42980,62517.889017
7688,7689,2015-06-30,2,0,6,1,2,LD003,Head on collision,0,...,0,0,1,0,0,0,0,1,5174,7527.058308
7689,7690,2015-06-30,2,0,6,1,2,LD003,Head on collision,1,...,0,0,0,0,0,0,0,0,30072,43742.134995
7690,7691,2015-06-30,2,0,6,1,2,LD003,Head on collision,0,...,0,0,0,0,0,0,1,1,1925,2800.569068

In [31]:
df.columns

Index(['Claim Number', 'date_of_loss', 'dayofweek', 'isweekend', 'month',
       'season', 'Notifier', 'Loss_code', 'Loss_description',
       'Notification_period', 'Inception_to_loss', 'Location_of_incident',
       'Weather_conditions', 'Vehicle_mobile', 'Time_hour', 'Main_driver',
       'Vechile_registration_present', 'Incident_details_present',
       'Injury_details_present', 'TP_type_insd_pass_back',
       'TP_type_insd_pass_front', 'TP_type_driver', 'TP_type_pass_back',
       'TP_type_pass_front', 'TP_type_bike', 'TP_type_cyclist',
       'TP_type_pass_multi', 'TP_type_pedestrian', 'TP_type_other',
       'TP_type_nk', 'TP_injury_whiplash', 'TP_injury_traumatic',
       'TP_injury_fatality', 'TP_injury_unclear', 'TP_injury_nk',
       'TP_region_eastang', 'TP_region_eastmid', 'TP_region_london',
       'TP_region_north', 'TP_region_northw', 'TP_region_outerldn',
       'TP_region_scotland', 'TP_region_southe', 'TP_region_southw',
       'TP_region_wales', 'TP_region_westmid', 'TP_region_yorkshire', 'sum_TP',
       'Incurred', 'Capped Incurred'],
      dtype='object')

In [32]:
cols = ['isweekend', 'month', 'season', 'Notification_period','Inception_to_loss', 'Weather_conditions', 'Time_hour',  'TP_injury_traumatic',
       'TP_injury_fatality', 'sum_TP']

In [33]:
X = df[cols]
y = df['Incurred']

### XGB

In [11]:
model = xg.XGBRegressor()
model.fit(X,y)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [13]:
model.save_model('../models/xg_model.pkl')

### RF

In [10]:
model2 = RandomForestRegressor()
model2.fit(X,y)

RandomForestRegressor()

In [14]:
dump(model2, '../models/rf_model.pkl')

['../models/rf_model.pkl']

In [25]:
model = load('../src/rf_model.pkl')

In [27]:
type(model)

sklearn.ensemble._forest.RandomForestRegressor

### DT

In [42]:
model3 = tree.DecisionTreeRegressor()
model3.fit(X,y)

DecisionTreeRegressor()

In [43]:
dump(model3, '../src/dt_model.pkl')

['../src/dt_model.pkl']

In [44]:
model = load('../src/dt_model.pkl')

In [45]:
type(model)

sklearn.tree._classes.DecisionTreeRegressor

In [48]:
import sklearn
sklearn.__version__

'1.0.2'